@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root{
    --blue-900: hsl(233, 47%, 7%);
    --blue-desaturated: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white-200: hsl(0, 0%, 100%);
    --white-50: hsla(0, 0%, 100%, 0.75);
    --white-25: hsla(0, 0%, 100%, 0.6);
}

*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.inner-container{
    width: 80%;
    height: 100%;
    background-color: red;
}

@media (max-width: 375){}
@media (max-width: 1440){}