@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root{
    --blue-900: hsl(233, 47%, 7%);
    --blue-desaturated: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white-200: hsl(0, 0%, 100%);
    --white-50: hsla(0, 0%, 100%, 0.75);
    --white-25: hsla(0, 0%, 100%, 0.6);

    --image-desktop: url('../images/image-header-desktop.jpg')

}

*{
    margin: 0;
    padding: 0;
    
}
.body{
    background-color: var(--blue-900);
}
.all{
    height: 100vh;
    background-color: var(--blue-900);
    display: flex;
    justify-content: center;
    align-items: center;
}
.attribution{
    text-align: center;
    margin-top: 100px;
    font-family: 'Inter';
    font-size: 20px;
    color: var(--white-50)
}
.attribution a{
    font-family: 'Inter';
    font-size: 20px;
    color: var(--soft-violet)
}
.container{
    width: 100%;
    height: 460px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.inner-container{
    width: 1110px;
    height: 100%;
    background-color: var(--blue-desaturated);
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.left-side{
    width: 50%;
    height: 100%;
    /* padding: 80px 0 80px 70px; */
}
.left-side h1{
    margin: 80px 0 0 70px;
    font-family: 'Inter';
    font-size: 40px;
    color: var(--white-200);
    font-weight: 700;
}
.left-side p{
    margin: 40px 0 60px 70px;
    width: 400px;
    font-family: 'Lexend Deca';
    font-size: 15px;
    color: var(--white-50);
    line-height: 25px;
}
.left-side .int {
    margin: 0 0 0 70px;
    display: flex;
    width: 400px;
    gap: 60px; 
    font-family: 'Lexend Deca';
    font-size: 15px;
    font-weight: 400;
    color: var(--white-50);
    text-transform: uppercase;
}
.left-side .int span{
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 700;
    color: var(--white-200);
    text-transform: none;
}
.right-side{
    width: 50%;
    height: 100%;
    background-image: var(--image-desktop);
    background-repeat: no-repeat;
    background-size: cover;
}
.filtro{
    width: 50%;
    height: 100%;
    background-color: var(--soft-violet);
    opacity: 0.3;
    position: absolute;
    right: 0;
}
@media (max-width: 375){}
@media (max-width: 1440){}